# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor artifacts and backups
.*.sw[poq]
*~

# C extensions
*.so

# Buildout
parts/
buildout-cache/
develop-eggs/
.installed.cfg
.mr.developer.cfg
.installed.cfg

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
local/
sdist/
test.plone_addon/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VirtualEnv / Virtual Environment
pyvenv.cfg
bin/
Scripts/
include/
lib64
pip-selfcheck.json
.profile

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# SCM
.svn/

# visaplan environment
auto.msg
tools/
update-module
init
init.vim
CHANGES-in-*.rst

# plonecli-generated
log.html
output.xml
package.json
pip-selfcheck.json
report.html
.vscode/
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/visaplan
