graft src/visaplan
graft docs
include *.rst
include VERSION*
global-exclude *.pyc *~ .*.swp .*.swo
global-exclude *-local.rst
global-exclude *.vim *.sed *.sh
exclude src/visaplan/plone/sqlwrapper/qfactory.py
exclude CHANGES-in-*.rst
